.phonePicture {
    width: 22vw;
    height: 18vw;
    border-radius: 1vw;
}

.topPhonesDiv {
    display: flex;
    justify-content: space-around;
}

.phoneInfoDiv {
    width: 25%;
    text-align: center;
}

h2 {
    margin: 0;
}

.viewMoreButton {
    font-size: larger;
    font-weight: 600;
    margin-top: 5vw;
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #da66ca;
    transition: background-color 0.2s ease-in-out;
}

.viewMoreButton:hover {
    background-color: #bd3dab;
    cursor: pointer;
}

.heroDiv {
    margin-top: 12vw;
    text-align: center;
}